body{
    background-color: hsl(214, 81%, 60%)
}

header{
    color: hsl(0, 0%, 100%);
}

section{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.36);
}

footer{
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-style: italic;
}